@import '../variables.scss';

.home {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 48px 14em;

  .block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
      color: $blue-1;
      @include h3();
    }

    p {
      @include p1-r();
      color: $n3;

      .highlight {
        @include p1-b();
      }
    }


    a {  
      color: $n2;
      @include p1-b();

      &:hover {
        text-decoration: underline;
      }
    }
    
    .image-container {
      margin: 24px 0px;
      position: relative;
      height: 240px;
      width: 580px;
      
      img {
        border-radius: 8px;
        height: 100%;
        // object-fit: contain;
      }
    }

    .child-block {
      display: flex;
      gap: 12px;
      flex-direction: column;
      margin-top: 32px;

      h4 {
        color: $blue-2;
        @include h4();
      }
    }
  }
}